# INFO 370 Lab 1
*Name: Brian Park*

## Q1 Lists

### 1. Create a list alphabet of lower case letters (minimum 10 letters). Print your list.

In [1]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

### 2. Use list comprehension to convert your alphabet into upper case.

In [4]:
alphabet = [letter.upper() for letter in alphabet]
print(alphabet)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

### 3. Try the following code using the alphabet you created above:

In [12]:
alphabet[::3]

['A', 'D', 'G', 'J']

Starts at the first element and returns every third value of the sequence.

In [13]:
alphabet[1::3]

['B', 'E', 'H']

Starts at the second element and returns every third value of the sequence.

In [14]:
alphabet[2::3]

['C', 'F', 'I']

Starts at the third element and returns every third value of the sequence.

### 4. Write a function power that takes a number, and return both its square and cube as a list (or tuple).

In [1]:
def power(n):
    return n**2, n**3

square, cube = power(2)
print("2 squared is " + str(square) + " and " + "2 cubed is " + str(cube))

2 squared is 4 and 2 cubed is 8

## Q2  Text Question

### 1. Why did you choose to take info370? What are the most valuable skills you hope to learn here?

I chose to take INFO 370 because I have been interested in data science and want to learn more about it. I don't have that much experience with Python, but I hope to take a lot of Python experience from this class and apply it to my future career. I'm very excited to be in this course and look forward to learning a lot about data science.

## Q3 Dicts

### 1. Create a dict of country-capital (at least 5 countries/capitals), e.g. Kenya: Nairobi, Cameroon: Yaoundé, ...

In [3]:
country_capital = {"South Korea": "Seoul", "United States": "Washington D.C.", "China": "Beijing", "Japan": "Tokyo", "England": "London"}
country_capital

{'South Korea': 'Seoul',
 'United States': 'Washington D.C.',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'England': 'London'}

### 2. Extract all countries from your dict and make list of those.

In [4]:
countries = list(country_capital.keys())
countries

['South Korea', 'United States', 'China', 'Japan', 'England']

### 3. Transform your dict into a capital-country one, e.g. Nairobi: Kenya, Yanoundé: Cameroon, ...

In [5]:
transform = {}
for country in country_capital.keys():
    cap = country_capital[country]
    transform[cap] = country
transform

{'Seoul': 'South Korea',
 'Washington D.C.': 'United States',
 'Beijing': 'China',
 'Tokyo': 'Japan',
 'London': 'England'}

### 4. Make a function that achieves all the above: it takes country-capital list as an argument, and returns capital-country list. Demonstrate that it works correctly using the list you did above.

In [7]:
def func(dict):
    new = {}
    for key in dict.keys():
        value = dict[key]
        new[value] = key
    return new
func(country_capital)

{'Seoul': 'South Korea',
 'Washington D.C.': 'United States',
 'Beijing': 'China',
 'Tokyo': 'Japan',
 'London': 'England'}